header {
  text-align: center;
}

body {
  background-color: #F7CAC9;
  font-family: Arial, Verdana, sans-serif;
  color: #333;
}

p { 
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h1 {
 font-size: 3rem;
 margin: 2rem 0;
}


h2 {     
 font-size: 2rem;
 margin: 1rem 0;
}

li {
  margin:0.5rem 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
main {
  display: flex;
  gap: 20px;
}
main > div:nth-of-type(1) {
  flex: 2;
}
main > div:nth-of-type(2) {
  flex: 3;
}

a:link {
  color: #008000;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  
  body {
    background-color: #F2E8D6;
    font-family: Arial, Verdana, sans-serif;
    color: #333;
  }
}